@import 'styles/mixins';

.boardAndTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:last-child {
    margin-right: 0;
  }
}

.buttonLabel {
  text-align: center;
  font-size: 18px;
  @include no-select;
}

.text {
  min-height: 32px;
  font-size: 18px;
}
