.table {
  border-spacing: 10px;
}

.header {
  font-weight: bold;
}

.checkIcon {
  width: 30px;
  height: 30px;
  pointer-events: none;
}

.xIcon {
  width: 20px;
  height: 20px;
  pointer-events: none;
  color: #A9A9A9;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.achievedText {
  color: #000000;
}

.notAchievedText {
  color: #A9A9A9;
}
