$size: 32px;

.navButtons {
  display: flex;
  align-items: center;
}

.button,
.separator {
  margin-right: calc(var(--spacing--l) - 2 * var(--spacing--xs));

  &:last-child {
    margin-right: 0;
  }
}

.error {
  &,
  &:active,
  &:focus,
  &:hover {
    color: var(--color--error);
  }
}
